<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Caudex:400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/blumen.css" media="screen">
</head>
<body>
<header>
</header>

<nav>
    <li><a href="/home">Home</a></li>
    <li><a href="/freizeittermine">Freizeittermine</a></li>
  {% for p in site.pages %}
  {% if p.title == "Start" or p.title == "Termine" %}
  {% else %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
  {% endfor %}
</nav>

<section class="main-content">
  {{ content }}
</section>
<footer class="site-footer">
  <p>&copy; 2016 Selbsthilfe Freizeitwerk e.V.</p>
</footer>
</body>
</html>
